


{% extends '@AllForKidsMain/Admin/show.html.twig'%}
   {% block body %}
       <div class="srch"><button></button></div>
       <script type="text/javascript">
           $('.main-search').hide();
           $('button').click(function (){
                   $('.main-search').show();
                   $('.main-search text').focus();
               }
           );
           $('.close').click(function(){
               $('.main-search').hide();
           });
       </script>

       <div class="outter-wp">
           <!--sub-heard-part-->

           <div class="sub-heard-part">
               <ol class="breadcrumb m-b-0">
                   <li><a href="#">Home</a></li>
                   <li class="active">Produits</li>

               </ol>
           </div>


                       <div class="form-body" style="margin-left:12%">
                           {{ form_start(form) }}
                           <table>
                               <tr>
                                   <div class="form-group">
                                       <label for="exampleInputEmail1">Nom Produit:</label>

                                       {{ form_widget(form.nom) }}
                                   </div>
                               </tr>
                               <tr>
                                   <div class="form-group">
                                       <label for="exampleInputEmail1">Prix:</label>

                                       {{ form_widget( form.prix) }}
                                   </div>

                               </tr>
                               <tr>
                                   <div class="form-group">
                                       <label for="exampleInputEmail1">Quantite:</label>

                                       {{ form_widget( form.quantite) }}
                                   </div>
                               </tr>


                               <tr>
                                   <div class="form-group">
                                       <label for="exampleInputEmail1">Image:</label>

                                       {{ form_widget( form.image) }}
                                   </div>
                               </tr>

                               <tr>
                                   <div class="form-group">
                                       <label for="exampleInputEmail1">Categorie:</label>

                                       {{ form_widget( form.categorie) }}
                                   </div>

                               </tr>
                               <tr>
                                   <div class="form-group">
                                       <label for="exampleInputEmail1">Disponibilite:</label>

                                       {{ form_widget( form.disponible) }}
                                   </div>

                               </tr>

                               <tr>
                                   <div class="modal-footer">
                                       {{ form_widget(form.Ajouter,{'label':'Modifier'}) }}

                                   </div>
                               </tr>

                               {{ form_end(form) }}
                           </table>
                       </div>

                   </div><!-- /.modal-content -->




   {% endblock %}
